<a href="https://colab.research.google.com/github/CarrilloLara/PrograIII-2024/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Carrillo Lara"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[5])

Hola Mundo
Hola  Carrillo Lara , inicial:  C l

**Ejercicios:**

Crear un programa en python que sume dos numeros

In [ ]:
num1 = 5.1
num2 = 5.2
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  10.3

Crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
5
Num 2
5
La suma es:  10.0

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Carrillo Lara" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Carrillo Lara Carr Carr a llo Lara
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Crear un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero:10
El numero es par 10

Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 15
Num 2: 2
La suma es:  17.0

Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32


c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"


num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 15
EL numero  15  es:  impar

Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

**TAREA**

Convertir grados Farenheits a Celsius

In [ ]:
def convertir_fc(f):
  return (f - 32) * 5.0/9.0


f = float(input("Farenheits: "))
print("Celsius: ", convertir_fc(f))

Farenheits: 86
Celsius:  30.0

onvertir grados [Celsius y Farenheit] a kelvin.

In [5]:
def celsius_a_kelvin(celsius):
    return celsius + 273.15

def fahrenheit_a_kelvin(fahrenheit):
    return (fahrenheit - 32) * 5/9 + 273.15

def main():
    print("Seleccione la conversión que desea realizar:")
    print("1. Convertir Celsius a Kelvin")
    print("2. Convertir Fahrenheit a Kelvin")

    opcion = int(input("Ingrese el número de la opción: "))

    if opcion == 1:
        celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        kelvin = celsius_a_kelvin(celsius)
        print(f"{celsius} grados Celsius son {kelvin} Kelvin")
    elif opcion == 2:
        fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        kelvin = fahrenheit_a_kelvin(fahrenheit)
        print(f"{fahrenheit} grados Fahrenheit son {kelvin} Kelvin")
    else:
        print("Opción no válida. Por favor, intente nuevamente.")

if __name__ == "__main__":
    main()

Seleccione la conversión que desea realizar:
1. Convertir Celsius a Kelvin
2. Convertir Fahrenheit a Kelvin
Ingrese el número de la opción: 1
Ingrese la temperatura en grados Celsius: 52
52.0 grados Celsius son 325.15 Kelvin